# Ignore environment files
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
ENV/
env/

# Ignore SQLite database
db.sqlite3

# Ignore migration files
main/migrations/*.py

# Ignore all Python bytecode files
*.pyc
*.pyo

# Ignore other common unwanted files
*.log
*.bak
*.swp
